{% extends "base.html" %}
{% block page_content %}
        <div class="mw6 center pa3 sans-serif">
            <h1 class="mb4">Authors Size: {{ authors|length }}</h1>
            <header class="b mb2">Description: {{ description | linebreaks }}</header>
        {% for a in authors %}
            <div class="pa2 mb3 striped--near-white" style="width: 500px;">
                <div class="pl2">
                    <p class="mb2">Full Name: {{ a.first_name }} {{ a.last_name }}</p>
                    <p class="mb2">Username: {{ a.name }} </p>
                    <p class="mb2">Email: {{ a.email }}</p>
                    <p>
                    <div><a class="link db fw6 blue dim" href="/authors/{{ a.id }}">View Author Articles</a></div>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}