<header class="ph3 ph5-ns w-100 pv3 mb4 mb5-ns bt bb b--black-10 overflow-auto">
    <div class="nowrap mw9 center" style="display: inline-block;">
        <a class="f6 fw6 dim link black-70 pb2-ns mr2 mr3-m mr4-l" href="/" title="Home">Home</a>
        <a class="f6 fw6 dim link black-70 pb2-ns mr2 mr3-m mr4-l" href="/articles/" title="Article">Articles</a>
        <a class="f6 fw6 dim link black-70 pb2-ns mr2 mr3-m mr4-l" href="/authors/" title="Authors">Authors</a>
        <a class="f6 fw6 dim link black-70 pb2-ns mr2 mr3-m mr4-l" href="/template/" title="MyTemplate">My Template</a>
        <a class="f6 fw6 dim link black-70 pb2-ns mr2 mr3-m mr4-l" href="/articles/new" title="NewArticle">New Article</a>
    </div>
    <div class="f6 fw6 dim link black-70 pb2-ns mr2 mr3-m mr4-l" style="display: inline-block; float: right;">
            <form action="/articles/" id="search" method="get">
                <input type="search" name="title" class="input-reset" placeholder="Enter title">
                <input type="submit" value="Search Articles">
            </form>
    </div>
</header>