<header class="ph3 ph5-ns w-100 pv3 mb4 mb5-ns bt bb b--black-10 overflow-auto">
    <div class="nowrap mw9 center">
        <a class="f6 fw6 dim link black-70 pb2-ns mr2 mr3-m mr4-l" href="/" title="Home">Home</a>
        <a class="f6 fw6 dim link black-70 pb2-ns mr2 mr3-m mr4-l" href="/articles/" title="Article">Articles</a>
        <a class="f6 fw6 dim link black-70 pb2-ns mr2 mr3-m mr4-l" href="/authors/" title="Authors">Authors</a>
        <a class="f6 fw6 dim link black-70 pb2-ns mr2 mr3-m mr4-l" href="/template/" title="MyTemplate">My Template</a>
    </div>
</header>